@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    filter: blur(0);
    transition: filter 0.3s ease;
}
.sign-up{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6%;
}
form{
    width: 90%;
    height: 90%;
    display: flex;
    gap: 1px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.281);
    padding: 50px;
}
form div{
    width: 50%;
    height: 100%;
}
form .input-field{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
form .input-field h1{
    font-weight: 900;
    font-size: 60px;
}
form .input-field span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.name, .email, .password, .confirm-password{
    flex-direction: row-reverse;
    background: #E4F0FE;
    margin-left: 63px;
    width: 300px;
    padding: 0 20px;
    border-radius: 3px;
}
form .input-field span label{
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

form .input-field span input{
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    background: none;
    width: 80%;
    border-radius: 5px;
}

input[type="submit"]{
    width: 300px;
    margin-left: 70px;
    padding: 10px 0;
    height: 40px;
    outline: none;
    border: none;
    background: #6C63FF;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
}

.login-option{
    width: 300px;
    margin-left: 70px;
}
.login-option .or{
    width: 100%;
    height: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
}
.or span{
    height: 2px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.or p{
    color: rgba(0, 0, 0, 0.5);
}
.login-option .login-btn{
    display: flex;
    width: 300px;
    height: 40px;
    border: 2px solid #6C63FF;
    background: none;
    border-radius: 3px;
    color: #6C63FF;
    font-weight: 700;
    font-size: 18px;
    margin-top: 7px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}


.image-field{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}
.showImage{
   	border-radius: 50%;
   	width: 200px;
   	height: 200px;
   	border: 2px dashed black;
}

#file{
    display: none;
}
#upload-btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #6C63FF;
    font-size: 22px;
    border: 2px solid #6C63FF;    
    border-radius: 3px;
}