@charset "ISO-8859-1";@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --mainColor: #6c63FF;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}
.logo{
    font-size: 40px;
    font-weight: 600;
    color: var(--mainColor);
}
select{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
    border-radius: 8px;
    padding: 7px 20px;
    outline: none;
    cursor: pointer;
}
.search-bar{
    border: none;
    outline: none;
    height: 40px;
    width: 450px;
    border-radius: 8px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.search-field{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
    padding: 0 20px;
    font-size: 16px;
}
input[type="submit"]{
    display: none;
}
.search-bar label{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: var(--mainColor);
    cursor: pointer;
}
.cart img, .profile img{
    width: 30px;
    cursor: pointer;
}
.right{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 50px;
}
.icons{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile-section{
	height: 100vh;
	width: 350px;
	position: fixed;
    right: -100%;
    top: 0;
    background-color: rgb(225, 225, 225);
    padding: 0 30px;
    transition: all 0.7s ease;
}
.profile-section .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    color: var(--mainColor);
}
.profile-section .top h1{
    font-size: 24px;
}
.profile-section .top i{
    font-size: 30px;
    cursor: pointer;
}
.profile-section .middle{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.profile-section .middle a{
    width: 100%;
    border: 2px solid var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    text-decoration: none;
    color: var(--mainColor);
}
.profile-section .middle a:hover{
    background-color: var(--mainColor);
    color: white;
}
.profile-section.active{
    right: 0;
}